!!!XHTML
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title Linda on RocketIO
  %body
    %h1 Linda on RocketIO
    %ul
      %li
        %a{:href => "/worker"} linda worker
      %li
        %a{:href => "/client"} linda client
