!!!XHTML
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html', :charset => 'UTF-8'}
    %title Linda Worker on RocketIO
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => linda_js}
    %script{:src => "/worker.js"}
  %body
    %h1 Calc Worker
    %div#main
      %div#log
